table {
    border: 1px solid #000000;
    border-spacing: 3px;
    background-color: purple
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

table, th, td {
  border: 3px solid purple;
}

th, td {
  padding: 30px;
  background-color: yellow;
}

td.empty {
  background-color: purple
}

.board_element{
    border: 1px solid purple;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.yellow {
  background-color: yellow
}

.emptpy {
  background-color: purple
}
